@using BizPortal.DAL.MongoDB;
@{
    ViewBag.Title = BizPortal.Resources.ApplicationStatusRequests.APPLICATION_REQUEST;
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

@section ContentHeader
{
    <i class="fa fa-file-text-o fa fa-2x "></i>
    <h4 class="m-t-xs inline padder">@BizPortal.Resources.ApplicationStatusRequests.APPLICATION_REQUEST</h4>
}

@section PageStyles {
    <style>
        #juristicApplicationStatusRequestDataTables .th {
            font-size: 30em;
        }

        tr.important {
            font-weight: 700;
        }

        td.finished {
            /*background-color: yellow !important;*/
        }

        tr.exceed-sla {
            color: red;
        }

        .request-btn {
            width: 10em;
        }

        .table-responsive {
            margin-left: -10px;
            margin-right: -15px;
            padding-bottom: 10px;
            overflow-x: auto;
        }

        table.dataTable,
        table.dataTable th,
        table.dataTable td {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
    </style>
}

<div class="header bg-white clearfix">
    <div class="row m-t-sm">
        <form id="frmSearchjuristicApplicationStatusRequest" class="form-horizontal col-md-12 m-b-xs">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label(BizPortal.Resources.Global.SEARCH_KEYWORD + " : ", new { @class = "col-md-4 control-label font-bold" })
                    <div class="col-md-8">
                        @Html.TextBox("SearchjuristicApplicationStatusRequestKeyword", "", new { @id = "SearchjuristicApplicationStatusRequestKeyword", @class = "form-control", @placeholder = BizPortal.Resources.Global.SEARCH_KEYWORD, @autocomplete = "off" })
                    </div>
                </div>
            </div>

            @if (ViewBag.IsAdmin || ViewBag.isOPDCAdmin || ViewBag.IsOPDCAgent)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label(BizPortal.Resources.Global.ORGANIZATION + " : ", new { @class = "col-md-4 control-label font-bold" })
                        <div class="col-md-8">
                            @Html.DropDownList("OrgCode", (SelectList)ViewBag.OrganizationList, new { @style = "width: 100%;" })
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label(BizPortal.Resources.Application.APPLICATION + " : ", new { @class = "col-md-4 control-label font-bold" })
                    <div class="col-md-8">
                        @Html.DropDownList("ApplicationID", (SelectList)ViewBag.ApplicationList, new { @style = "width: 100%;" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label(BizPortal.Resources.ApplicationStatusRequests.APPLICATION_STATUS_REQUEST + " : ", new { @class = "col-md-4 control-label font-bold" })
                    <div class="col-md-8">
                        @Html.DropDownList("ApplicationStatusID", (SelectList)ViewBag.ApplicationStatusList, new { @style = "width: 100%;" })
                    </div>
                </div>
            </div>

              @if (ViewBag.IsAdmin || ViewBag.isOPDCAdmin || ViewBag.IsOPDCAgent || ViewBag.IsOrgAgent)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label(BizPortal.Resources.Apps_SingleForm.ADDRESS_PROVINCE + " : ", new { @class = "col-md-4 control-label font-bold" })
                        <div class="col-md-8">
                            <select class="form-control" name="ProvinceCode" id="ProvinceCode">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label(BizPortal.Resources.ApplicationStatusRequests.APPLICATION_STATUS_OTHER_REQUEST + " : ", new { @class = "col-md-4 control-label font-bold" })
                    <div class="col-md-8">
                        @Html.DropDownList("ApplicationStatusOtherList", (SelectList)ViewBag.ApplicationStatusOtherList, new { @style = "width: 100%;" })
                    </div>
                </div>
            </div>

            @if (ViewBag.IsAdmin || ViewBag.isOPDCAdmin || ViewBag.IsOPDCAgent || ViewBag.IsOrgAgent)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label(BizPortal.Resources.Apps_SingleForm.ADDRESS_AMPHUR + " : ", new { @class = "col-md-4 control-label font-bold" })
                        <div class="col-md-8">
                            <select class="form-control" name="AmphurCode" id="AmphurCode">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            }
           
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        @Html.CheckBox("ShowCompleted", false)
                        <span class="control-label font-bold">@BizPortal.Resources.ApplicationStatusRequests.SHOW_COMPLETED</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-danger">
                    <div class="col-md-8 col-md-offset-4 control-label" style="text-align:left">
                        @BizPortal.Resources.Global.HOW_TO_USE_PDF : <a class="text-danger" target="_blank" href="@Url.Content("~/Content/Manual/BisPortal_eForm_OrgAdminManual_V3_06062016.pdf")">@BizPortal.Resources.Global.HOW_TO_USE_DOWNLOAD</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-danger">
                    <div class="col-md-8 col-md-offset-4 control-label" style="text-align:left">
                        @BizPortal.Resources.Global.HOW_TO_USE_YOUTUBE : <a class="text-danger" target="_blank" href="https://www.youtube.com/watch?v=zUE_uqpHPcQ">@BizPortal.Resources.Global.HOW_TO_USE_VIEW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button id="btnSubmit" type="button" class="btn btn-s-md btn-primary"><i class="fa fa-search"></i> @BizPortal.Resources.Global.SEARCH</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="summaryMsg" class="h4 text-danger"></div>
<p></p>

<div class="table-responsive clearfix">
    <table id="juristicApplicationStatusRequestDataTables" class="table table-striped table-bordered" data-ride="datatables" style="overflow-x:auto;">
        <thead>
            <tr>
                <th style="vertical-align: middle">#</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.APPLICATION_REQUEST_NUMBER</th>
                @*<th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.APPLICATION_REQUEST_NUMBER_AGENT</th>*@
                <th style="vertical-align: middle">@BizPortal.Resources.Application.APPLICATION</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.IDENTITY_ID</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.REQUEST_BY</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.SHOP_AREA</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.SUBMIT_DATE</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.UPDATE_BY_REQUESTOR_DATE</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.SLA_DATE</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.APPLICATION_STATUS_REQUEST</th>
                <th style="vertical-align: middle">@BizPortal.Resources.ApplicationStatusRequests.APPLICATION_STATUS_OTHER_REQUEST</th>
                <th style="vertical-align: middle">@BizPortal.Resources.Global.TABLE_ACTION_HEADING</th>
            </tr>
        </thead>
        <tbody ></tbody>
    </table>
</div>

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="text-align:center;font-size:14px">
                        <p>คุณยืนยันที่จะตรวจสอบคำขอนี้หรือไม่</p>
                        <p>(ต้องตรวจสอบให้เสร็จสิ้นภายใน 1 วันทำการ)</p>
                    </div>
                    <div class="col-sm-12 col-md-12 form-horizontal">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-sm" style="width:50px;" data-dismiss="modal" aria-label="Close">ไม่ใช่</button>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-sm btn-info" style="width:50px;" data-dismiss="modal" aria-label="Close" onclick="conButton()">ใช่</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts
{
    <script type="text/javascript">
        var juristicApplicationStatusRequestDataTables;
        var memberServiceList = @Html.Raw(Json.Encode(ViewBag.MemberServiceList));
    
        $(function () {
            //console.log(memberServiceList);

            $("select").select2();

            $('#ApplicationID').on('change', function (e) {

            });

            $("#ProvinceCode").select2({
                allowClear: true,
                placeholder: '@BizPortal.Resources.Apps_SingleForm.ADDRESS_PROVINCE',
                ajax: {
                    url: '@Url.Content("~/Api/v2/Geo/Provinces")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var isMetro = '';

                        return {
                            isMetro: isMetro,
                            query: params.term
                        };
                    },
                    processResults: function (data, params) {
                        //var applicationId = $('#ApplicationID').val();
                        //if (applicationId) {

                        //    var provinceIds = $(memberServiceList).map(function (i, e) {
                        //        if (e.ApplicationID == applicationId) {
                        //            return e.ProvinceID;
                        //        }
                        //    }); 


                        //    var data = $(data).filter(function (i, e) {
                               
                        //    });

                        //    console.log(provinceIds);
                        //}

                        return data;
                    },
                    cache: true
                },
                width: '100%'
            });

            var fncAmphurUrl = function () {
                return '@Url.Content("~/Api/v2/Geo/Amphurs")' + '?pCode=' + $('#ProvinceCode').val();
            }

            var isRequestFinished = function(req) {
                return (req.Status == @((int)ApplicationStatusV2Enum.COMPLETED) ||
                    (req.Status == @((int)@ApplicationStatusV2Enum.REJECTED) && req.StatusOther != 'WAITING_AGENT_APPROVE_CANCEL'));
            }

            var isRequestImportant = function(req) {
                switch (req.Status) {
                    case @((int)ApplicationStatusV2Enum.WAITING):
                        return true;
                    case @((int)ApplicationStatusV2Enum.CHECK):
                    case @((int)ApplicationStatusV2Enum.PENDING):
                        return true;
                    case @((int)ApplicationStatusV2Enum.REJECTED):
                        return (req.StatusOther == 'WAITING_AGENT_APPROVE_CANCEL');
                    default:
                        break;
                }
                return false;
            }

            $("#AmphurCode").select2({
                allowClear: true,
                placeholder: '@BizPortal.Resources.Apps_SingleForm.ADDRESS_AMPHUR',
                ajax: {
                    url: fncAmphurUrl,
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            query: params.term,
                            pCode: $("#AmphurCode").val()
                        }
                    },
                    processResults: function (data, params) {
                        return data;
                    },
                    cache: true
                },
                width: '100%'
            });

            $("#ProvinceCode").change(function () {
                $("#AmphurCode").val('').trigger('change');
            });

            $('#juristicApplicationStatusRequestCheckAll').checkAll({ container: $('#juristicApplicationStatusRequestDataTables'), showIndeterminate: true });
            juristicApplicationStatusRequestDataTables = $('#juristicApplicationStatusRequestDataTables').DataTable({
                searching: false,
                serverSide: true,
                indexColoumn: true,
                processing: true,
                //scrollX: true,
                language: { "url": "@Url.Content("~/Scripts/datatables/languages/i18n.Thai.json")" },
                ajax: {
                    url: '@Url.Content("~/api/v2/ApplicationRequests/Manage/List")?language=@ViewBag.CurrentLang&t=' + new Date().getTime(),
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (params) {

                        params.ShowCompleted = $('#ShowCompleted:checked').length > 0;

                        if ($('#SearchjuristicApplicationStatusRequestKeyword').val()) {
                            params.SearchKeyword = $('#SearchjuristicApplicationStatusRequestKeyword').val();
                        }

                        if ($('#ApplicationID').val()) {
                            params.ApplicationID = $('#ApplicationID').val();
                        }

                        if ($('#IdentityID').val()) {
                            params.IdentityID = $('#IdentityID').val();
                        }

                        if ($('#ApplicationStatusID').val()) {
                            params.ApplicationStatusID = $('#ApplicationStatusID').val();
                        }

                        if ($('#OrgCode').val()) {
                            params.OrgCode = $('#OrgCode').val();
                        }

                        if ($('#ApplicationStatusOtherList').val()) {
                            params.ApplicationStatusOther = $('#ApplicationStatusOtherList').val();
                        }

                        if ($('#ProvinceCode').val()) {
                            params.ProvinceID = parseInt($('#ProvinceCode').val());
                        }

                        if ($('#AmphurCode').val()) {
                            params.AmphurID = parseInt($('#AmphurCode').val());
                        }

                        return JSON.stringify(params);
                    },
                    "dataSrc": function (json) {
                        $("#summaryMsg").html(json.summary);
                        return json.data;
                    }
                },
                columns: [
                    {
                        data: 'ApplicationRequestNumber',
                        sortable: false,
                        'class': 'text-center',
                        width: "10px",
                        render: function (data, type, row) {
                            var result = data;
                            if (row.ApplicationRequestNumberAgent) {
                                result = data + '<br/>' + row.ApplicationRequestNumberAgent;
                            }
                            return result;
                        }
                    },
                    {
                        data: 'ApplicationRequestNumber',
                        sortable: false,
                        'class': 'text-center',
                        'style': ' backgroundColor:"red"',
                        render: function (data, type, row) {
                            var result = data;
                            if (row.ApplicationRequestNumberAgent) {
                                result = data + '<br/>' + row.ApplicationRequestNumberAgent;
                            }
                            return result;
                        }
                    },
                    //{ data: 'ApplicationRequestID', sortable: false, 'class': 'text-center' },
                    //{ data: 'ApplicationRequestNumberAgent', sortable: false, 'class': 'text-center' },
                    { data: 'ApplicationName', sortable: false },
                    { data: 'IdentityID', sortable: false },
                    { data: 'IdentityName', sortable: false, width: "15%" },
                    {
                        data: 'ProvinceID',
                        render: function (data, type, row) {
                            var result = '';
                            if (row.Amphur) result += row.Amphur;
                            if (row.Province) result += ' ' + row.Province;
                            return result;
                        },
                        sortable: false,
                        width: "7%"
                    },
                    { data: 'CreatedDateTxt', name: 'CreatedDate', 'class': 'text-center' },
                    { data: 'UpdatedDateTxt', name: 'UpdatedDateByRequestor', 'class': 'text-center' },
                    { data: 'ExpectSLADateTxt', name: 'ExpectSLADate', 'class': 'text-center' },
                    { data: 'StatusName', sortable: false, 'class': 'text-center', width: '70px',
                        createdCell: function (td, cellData, rowData, row, col) {
                            if (isRequestFinished(rowData)) {
                                $(td).addClass("finished");
                            }
                        }
                    },
                    {
                        data: 'StatusOtherName',
                        sortable: false,
                        'class': 'text-center',
                        width: '70px',
                        render: function (data, type, row) {

                            if (row.RequestorReplied) {
                                return "เจ้าหน้าที่ตรวจสอบการแก้ไข";
                            }
                            if (row.StatusOther == "WAITING_AGENT_WORKING") {
                                return "เจ้าหน้าที่พิจารณาสั่งการ";
                            }
                            if (row.StatusOther == "WAITING_USER_WORKING") {
                                return "ผู้ประกอบการดำเนินการตามสั่งการ";
                            }
                            if (row.Status == 7 || row.Status == 8) {
                                return "เสร็จสิ้น";
                            }
                            return row.StatusOtherName;
                        }
                    },
                    {
                        data: 'ApplicationRequestID',
                        render: function (data, type, row) {
                            if (row.Status == 2 || (row.Status == 3 && row.StatusOther == "WAITING_AGENT_READ_REQUEST")) {
                                var template = '<a class="btn request-btn btn-xs btn-warning" href="@Url.Action("Detail", "ApplicationStatus", new { language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })/' + data + '">ดูคำขอใหม่</a>';
                                return template;
                            }
                            else if (row.Status == 10 || row.Status == 11) { // rejected, completed
                                var template = '<a class="btn request-btn btn-xs btn-default" href="@Url.Action("Detail", "ApplicationStatus", new { language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })/' + data + '">ดูรายละเอียด</a>';
                                return template;
                            }
                            else {
                                var btn_class = (row.Status == 7 || row.Status == 8) ? "btn-default" :
                                    (row.RequestorReplied ? "btn-danger" :
                                    (row.StatusOther == "WAITING_USER_WORKING" ? "btn-info" : "btn-success"));
                                var btnText = (row.Status == 7 || row.Status == 8) ? '@Html.Raw(BizPortal.Resources.Global.BTN_DETAIL)' :
                                    row.RequestorReplied ? "แก้ไขตามสั่งการ" :
                                    row.StatusOther == "WAITING_USER_WORKING" ? "รอผู้ประกอบการ" : "อยู่ระหว่างการพิจารณา";
                                var template = '<a class="btn request-btn btn-xs ' + btn_class + '" href="@Url.Action("Detail", "ApplicationStatus", new { language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })/' + data + '">' + btnText + '</a>';
                                return template;
                            }
                        },
                        sortable: false,
                        'class': 'text-center'
                    }
                ],
                order: [[6, 'asc']],
                createdRow: function (row, data, dataIndex) {
                    if (data.Status != 7 && data.Status != 8 && data.ExceedSLA) {
                        $(row).addClass('exceed-sla');
                    }
                    if (isRequestImportant(data)) {
                        $(row).addClass('important');
                    }
                }
            });

            $('#btnSubmit').on('click', function (e) {
                juristicApplicationStatusRequestDataTables.ajax.reload();
            });
        });

        var curID = null;
        function confirm(id) {
            curID = id;
            conButton();
        }

        function conButton() {
            $.ajax({
                url: '@Url.Action("ConfirmView", "ApplicationStatus", new { area="Manage", language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })?id=' + curID,
                data: null,
                processData: false,
                contentType: false,
                async: false,
                type: 'POST',
                success: function (d) {
                    if (d) {
                        window.location = '@Url.Action("Detail", "ApplicationStatus", new { language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })/' + curID;
                    }
                }
            });
        }
    </script>
}