@using BizPortal.DAL.MongoDB
@using BizPortal.ViewModels.ControlData
@using BizPortal.Utils.Helpers
@model FormControl

@{ 
    var textBold = string.Empty;
    if (Model.CheckboxTextBold)
    {
        textBold = "style=font-weight:bold;";
    }

}

@if (Model.DisplayCheckboxInline)
{
    if (Model.CheckboxName.Count() > 3)
    {
        <div class="row">
            @foreach (var item in Model.CheckboxName)
            {
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="@string.Format("{0}_{1}", Model.ClientID, item)">
                            <input type="checkbox" name="@string.Format("{0}_{1}", Model.DataKey, item)" id="@string.Format("{0}_{1}", Model.ClientID, item)" value="true" />
                            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(item, "Apps_SingleForm", item))
                        </label>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        var cols = Model.CheckboxName.Count();
        double maxCols = 4;
        int colLen = (int)Math.Ceiling(maxCols / cols);

        <div class="row">
            @foreach (var item in Model.CheckboxName)
            {
                <div class="col-md-@colLen">
                    <div class="checkbox">
                        <label for="@string.Format("{0}_{1}", Model.ClientID, item)">
                            <input type="checkbox" name="@string.Format("{0}_{1}", Model.DataKey, item)" id="@string.Format("{0}_{1}", Model.ClientID, item)" value="true" />
                            @Html.Raw(ResourceHelper.GetResourceWordWithDefault(item, "Apps_SingleForm", item))
                        </label>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    foreach (var item in Model.CheckboxName)
    {
        if (Model.CheckboxTextBold)
        {

        }
        <div class="checkbox" data-control-name="@Model.Control">
            <label for="@string.Format("{0}_{1}", Model.ClientID, item)" @textBold>
                <input type="checkbox" 
                       name="@string.Format("{0}_{1}", Model.DataKey, item)" 
                       id="@string.Format("{0}_{1}", Model.ClientID, item)" 
                       class="trigger-checkbox"
                       data-control-name="@Model.Control"
                       data-control-value="@item"
                       value="true" />
                @Html.Raw(ResourceHelper.GetResourceWordWithDefault(item, "Apps_SingleForm", item))
            </label>
        </div>
    }
}



