@model BizPortal.ViewModels.SingleForm.SingleForm
@using BizPortal.Utils.Helpers
@using Resources = BizPortal.Resources
@using BizPortal.Utils.Extensions

@{
    var backUrl = Url.BizAction("Business", "Quiz", new { area = "" }) + "/" + Model.BusinessID;
    ViewBag.Title = Resources.PermitSummary.TITLE_PERMIT_SUMMARY;
    UserTypeEnum identityType = UserTypeEnum.Anonymous;
    if (ViewBag.IdentityType != null)
    {
        identityType = ViewBag.IdentityType;
    }
    bool packPermit = false;

    bool? spaAgeAllow = ViewBag.AgeAllowed;
    bool? isSpa = ViewBag.IsSpa;

    bool foundAllProvince = ViewBag.FoundAllProvince == null ? false : ViewBag.FoundAllProvince;
    bool foundOnlyBKK = ViewBag.FoundOnlyBKK == null ? false : ViewBag.FoundOnlyBKK;


    Layout = "~/Views/Shared/_LayoutV2DBD.cshtml";

}

@section PageStyles {
    <style>
        #info-permit-summary {
            position: relative;
            text-align: left;
            padding: 30px;
            border: 1px solid #DEDEDE;
            margin-bottom: 20px;
            background: #FFFFFF;
        }

        .reason-app-id-20 {
            color: red;
            font-weight: bold;
        }

        .reason-red {
            color: red;
        }

        .reason-ul-mt {
            margin-top: 0;
        }
    </style>
}

@section breadcrumb{
    <section class="breadcrumb">
        <div class="container">
            <h2>@Resources.PermitSummary.TITLE_PERMIT_SUMMARY</h2>
            <ul>
                <li>
                    <a href="@Url.BizAction("PermitList", "Business", new { area="", language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName })">
                        @Resources.GlobalV2.ONLINE_SERVICES
                    </a>
                </li>
                <li><a>@Resources.PermitSummary.TITLE_PERMIT_SUMMARY</a></li>
            </ul>
        </div>
    </section>
}

<script id="appFixedItemTemplate" type="text/x-custom-template">
    <div class="blog-item">
        <div class="head">
            <p class="head" style="width:100%;">{0}</p>
            @*<p>{1}</p>*@
        </div>
        <div class="price">
            <p class="num">{3} @Resources.PermitSummary.TEXT_BAHT</p>
            <p class="day">{2} @Resources.PermitSummary.TEXT_DAYS</p>
        </div>
    </div>
</script>

<script id="appRangeItemTemplate" type="text/x-custom-template">
    <div class="blog-item">
        <div class="head">
            <p class="head" style="width:100%;">{0}</p>
            @*<p>{1}</p>*@
        </div>
        <div class="price">
            <p class="num">{3} - {4} @Resources.PermitSummary.TEXT_BAHT</p>
            <p class="day">{2} @Resources.PermitSummary.TEXT_DAYS</p>
        </div>
    </div>
</script>

<script id="appStartAtItemTemplate" type="text/x-custom-template">
    <div class="blog-item">
        <div class="head">
            <p class="head" style="width:100%;">{0}</p>
            @*<p>{1}</p>*@
        </div>
        <div class="price">
            <p class="num">@Resources.PermitSummary.TEXT_STARTING_AT {3} @Resources.PermitSummary.TEXT_BAHT</p>
            <p class="day">{2} @Resources.PermitSummary.TEXT_DAYS</p>
        </div>
    </div>
</script>

<script id="appEmptyItemTemplate" type="text/x-custom-template">
    <div class="blog-item">
        <div class="head">
            <p>@Resources.PermitSummary.TEXT_APP_REQUIRED</p>
        </div>
    </div>
</script>

<section class="banner-form"></section>

@using (Html.BeginForm("SubmitList", "SingleForm", FormMethod.Post, new { id = "frmPermitSummary", @class = "frm-permit-summary" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.BusinessID)
    <section class="accept-form">
        <div class="container">
            <p class="title" data-text-format="@Resources.PermitSummary.HEADING_PERMIT_SUMMARY">
                @string.Format(Resources.PermitSummary.HEADING_PERMIT_SUMMARY, Model.SingleFormApps.Count)
                <a href="#" class="form-info" data-target="info-permit-summary" style="color: #5CA1BF;">
                    <i class="fa fa-info-circle"></i>
                </a>
            </p>
            <div id="info-permit-summary" style="display: none;">
                <a href="#" class="close"
                   style="color: #A0A0A0; position: absolute; top: 10px; right: 10px;"
                   data-target="info-permit-summary"><i class="fa fa-times-circle"></i></a>
                <div class="row">
                    <div class="M-12">
                        <p>รายการใบอนุญาตเหล่านี้ หมายถึง…</p>
                        <p>
                            <u>1. กรณีคุณเลือกรายการใบอนุญาตด้วยตนเอง – </u>ใบอนุญาตทั้งหมดที่คุณต้องการขอ<br />
                            <u>2.  กรณีคุณให้ระบบแนะนำใบอนุญาตจาก Smart Quiz - </u>ใบอนุญาตสำคัญทั้งหมดที่ผู้ประกอบการที่มีเงื่อนไขธุรกิจตามการตอบคำถามใน Smart Quiz จำเป็นต้องขอ
                        </p>

                        <p>อย่างไรก็ตาม อาจมีใบอนุญาตอื่นๆที่จำเป็นต้องขอเพิ่มเติมตามเงื่อนไขพิเศษที่มีเฉพาะในธุรกิจคุณ (เช่น ขายของมือสอง ยานยนต์ สินค้าเกษตรแปรรูป เป็นต้น) ซึ่งทางเรากำลังพัฒนาเพิ่มเติมให้มีความครบถ้วน</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="D-8 M-12" id="appContainer" data-start-at-text="@Resources.PermitSummary.TEXT_STARTING_AT">
                    @for (int i = 0; i < Model.SingleFormApps.Count; i++)
                    {

                        var app = Model.SingleFormApps[i];

                        if (!packPermit)
                        {
                            if (app.AppSysName.Equals("APP_CLINIC_BUSINESS") || app.AppSysName.Equals("APP_CLINIC_OPERATION") || app.AppSysName.Equals("APP_HOSPITAL_BUSINESS") || app.AppSysName.Equals("APP_HOSPITAL_OPERATION"))
                            {
                                packPermit = true;
                            }
                        }

                        <div style="padding-left: 60px;" class="item-list @(app.OnlineRequestAllowed ? "clickable active" : "") @(app.OperatingCostType.DefaultString("Fixed").ToLower())-cost @(app.OperatingDaysType.DefaultString("Fixed").ToLower())-days">
                            @if (app.OnlineRequestAllowed)
                            {
                                <div class="checkbox"></div>
                            }
                            <ins data-index="@i"
                                 data-appname="@app.AppName"
                                 data-orgname="@app.OrganizationName"
                                 data-duration="@app.OperatingDays"
                                 data-cost="@app.OperatingCost"
                                 data-cost2="@app.OperatingCost2"
                                 data-cost-type="@app.OperatingCostType"
                                 data-appsysname="@app.AppSysName"
                                 data-ProvinceType=""></ins>
                            <!--<div class="logo">
                                <img class="img-responsive" src="@Url.Action("Get", "File", new { area = "", id = app.LogoFileID })" alt="">
                            </div>-->
                            <div class="wrap">
                                <div class="head">
                                    <p class="head">@app.AppName</p>
                                    <!--<p>@app.OrganizationName</p>-->
                                </div>
                                <div class="price">
                                    <p class="day">
                                        @if (app.OperatingDaysType == "StartAt")
                                        {
                                            @Resources.PermitSummary.TEXT_STARTING_AT
                                        }

                                        @if (app.OperatingDays.GetValueOrDefault(0) > 0)
                                        {
                                            @app.OperatingDays.GetValueOrDefault(0).ToString("#,##0.##")
                                        }
                                        else
                                        {
                                            @("-")
                                        }

                                        @if (app.OperatingDaysType == "Range" && @app.OperatingDays2.GetValueOrDefault(0) > 0)
                                        {
                                            <text> - @app.OperatingDays2.GetValueOrDefault(0).ToString("#,##0.##")</text>
                                        }
                                        @Resources.PermitSummary.TEXT_DAYS
                                    </p>
                                    <p class="num">
                                        @if (app.OperatingCostType == "StartAt")
                                        {
                                            @Resources.PermitSummary.TEXT_STARTING_AT
                                        }

                                        @if (app.OperatingCost == null && app.OperatingCostType != "Range")
                                        {
                                            @("-")
                                        }
                                        else if (app.OperatingCost.GetValueOrDefault(0) > 0)
                                        {
                                            @app.OperatingCost.GetValueOrDefault(0).ToMoneyFormat()
                                        }
                                        else
                                        {
                                            @("0")
                                        }

                                        @if (app.OperatingCostType == "Range" && app.OperatingCost2.GetValueOrDefault(0) > 0)
                                        {
                                            <text> - @app.OperatingCost2.GetValueOrDefault(0).ToMoneyFormat()</text>
                                        }
                                        @Resources.PermitSummary.TEXT_BAHT
                                    </p>
                                </div>

                            </div>

                            <div class="view">
                                <a href="@app.HandbookUrl" target="_blank" class="btn button-outline primary"><i class="fa fa-info-circle"></i> @Resources.PermitSummary.TEXT_MORE_DETAIL</a>
                                @if (app.OnlineRequestAllowed)
                                {
                                    <div class="prefer">
                                        <p>@Resources.PermitSummary.TEXT_CAN_BE_REQUEST_AT </p> <img src="@Url.Content("~/Content/Images/biz-v2/logos/bizportal-logo.png")" alt="">
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(app.ApplicationUrl))
                                {
                                    <a href="@app.ApplicationUrl" target="_blank" class="btn button-outline primary"><i class="fa fa-external-link"></i> @Resources.PermitSummary.TEXT_ESERVICE_URL</a>
                                }

                            </div>
                            @*@if (!app.OnlineRequestAllowed && !app.HideBizPortalSoon)
                                {
                                    <div class="view">
                                        <span>@Resources.PermitSummary.TEXT_OPEN_SOON</span>
                                    </div>
                                }*@

                            @if (app.NotAllowedReason != null && app.NotAllowedReason.Length > 0)
                            {
                                <div class="reasons reason-red">
                                    <h4 class="text-danger">@Resources.QuizConditionReason.LABEL_WHY_NOT1 @(identityType == UserTypeEnum.Juristic ? Resources.QuizConditionReason.BIZPORTAL : Resources.QuizConditionReason.GOVCHANNEL) @Resources.QuizConditionReason.LABEL_WHY_NOT2</h4>
                                    <ul class="reason-ul-mt">
                                        @foreach (var reason in app.NotAllowedReason)
                                        {
                                            <li class="text-danger">@reason</li>
                                        }
                                    </ul>
                                </div>
                            }

                            @if (app.Warning != null && app.Warning.Length > 0)
                            {
                                <div class="reasons">
                                    <ul>
                                        @foreach (var warning in app.Warning)
                                        {
                                            <li class="text-danger">@ResourceHelper.GetResourceWordWithDefault(warning, "PermitSummary", warning)</li>
                                        }
                                    </ul>
                                </div>
                            }


                            @if (app.ShowRemark && !string.IsNullOrEmpty(app.Remark))
                            {
                                <div class="reasons text-warning fs20 reason-app-id-@app.ApplicationID" style="margin-top: 20px">
                                    @Html.Raw(app.Remark.Replace(Environment.NewLine, "<br />"))
                                </div>
                            }

                            @Html.HiddenFor(model => model.SingleFormApps[i].AppName)
                            @Html.HiddenFor(model => model.SingleFormApps[i].AppSysName)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OrganizationName)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OperatingCostType)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OperatingCost)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OperatingCost2)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OperatingDaysType)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OperatingDays)
                            @Html.HiddenFor(model => model.SingleFormApps[i].OperatingDays2)
                            @if (app.OnlineRequestAllowed)
                            {
                                @Html.HiddenFor(model => model.SingleFormApps[i].isChecked)
                            }
                        </div>
                    }

                    <div class="summary">
                        <div class="price">

                            <p class="subject">@Resources.PermitSummary.TEXT_SUMMARY_TOTAL_COST</p>
                            <p class="num"><span class="summaryCost">0</span> @Resources.PermitSummary.TEXT_BAHT</p>
                        </div>
                        <div class="price">
                            <p class="subject">@Resources.PermitSummary.TEXT_SUMMARY_TOTAL_DAYS</p>
                            <p class="num"><span class="summaryDays">0</span> @Resources.PermitSummary.TEXT_DAYS</p>
                        </div>
                        <div class="price">
                            <p class="ps">(คำนวณจากจำนวนใบอนุญาตทั้งหมดที่ระบบแนะนำ)</p>
                        </div>
                    </div>
                </div>

                <div class="D-4 M-12">
                    <div class="summary-service">
                        <div class="head">
                            <i class="fa fa-shopping-cart"></i>
                            <p>@Resources.PermitSummary.HEADING_SELECTED_APPS</p>
                        </div>

                        <div class="blog-service">
                        </div>


                        <div class="blog-summary">
                            <div class="summary-item">
                                <div class="head">
                                    <p>รวม</p>
                                    <p>รวมวันทำการไม่เกิน</p>
                                </div>
                                <div class="price">
                                    <p class="num"><span id="bizSumCost" class="summaryCost">0</span> @Resources.PermitSummary.TEXT_BAHT</p>
                                    <p class="day"><span id="bizSumDay" class="summaryDays">0</span> @Resources.PermitSummary.TEXT_DAYS</p>
                                </div>
                            </div>
                            <p class="ps">(คำนวณจากจำนวนใบอนุญาตที่จะยื่นขอผ่าน Biz Portal เท่านั้น)</p>
                            <div class="btn-hold">
                                <a href="#"
                                   id="submit-btn"
                                   class="button primary">@Resources.PermitSummary.BTN_GO_SINGLE_FORM</a>
                                @{
                                    string previousPage = ViewBag.PreviousPage;
                                }
                                <a href="@(Url.BizAction(previousPage, "Business", new { area="", language = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName }))#@ViewBag.BusinessType"
                                   class="button-outline primary">@Resources.PermitSummary.BTN_BACK_TO_PERMIT_MENU</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section PageScripts{


    @Scripts.Render("~/Bundles/AppV2/Script/PermitSummary")
    <script type="text/javascript" src="~/Scripts/base.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {

                $("#submit-btn").click(function (e) {
                    e.preventDefault();
                    @if (identityType == UserTypeEnum.Anonymous)
                    {
                        <text>

                        Swal.fire({
                            title: '<h5>กรุณาเข้าสู่ระบบเพื่อดำเนินการต่อ</h5>',
                            imageUrl: "@Url.Content("~/Content/SingleForm-frontis/lock.png")",
                            imageWidth: 80,
                            imageHeight: 80,
                            focusConfirm: true,
                            confirmButtonText: 'เข้าสู่ระบบ',
                            confirmButtonColor: '#4E94B1',
                            showCancelButton: true,
                            cancelButtonText: 'ย้อนกลับ',
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = '@Url.ServiceAction("ChooseType", "Account", new { ReturnUrl = ViewBag.ReturnUrl })';
                                }
                        });

                    </text>
                    }
                    else
                    {

                        if (foundAllProvince & foundOnlyBKK)
                        {

                            <text>

                                Swal.fire({
                                    html: '@Html.Raw(string.Format("ท่านได้เลือกใบอนุญาตมากกว่า 1 รายการพร้อมกัน<br/>ซึ่งบางรายการให้บริการเฉพาะในพื้นที่กรุงเทพฯ และบางรายการให้บริการทั่วประเทศ<br/><u><i>หาก</u></i>สถานประกอบการของท่านอยู่ในพื้นที่กรุงเทพฯ คลิก <b>\"ดำเนินการต่อไป\"</b> <br/><u><i>หาก</u></i>สถานประกอบการของท่านอยู่ในพื้นที่จังหวัดอื่น<br/>คลิก <b>\"ย้อนกลับ\"</b> เพื่อเลือกใบอนุญาตเฉพาะที่ยื่นขอได้ทั่วประเทศเท่านั้น<br/>สำหรับใบอนุญาตอื่นอยู่ในระหว่างการพัฒนาระบบขอให้ท่านติดต่อหน่วยงานผู้ออกใบอนุญาตในพื้นที่จังหวัด"))',
                                    focusConfirm: true,
                                    confirmButtonText: 'ดำเนินการต่อ',
                                    confirmButtonColor: '#4E94B1',
                                    showCancelButton: true,
                                    cancelButtonText: 'ย้อนกลับ',
                                }).then((result) => {
                                    if (result.value) {
                                        document.getElementById("frmPermitSummary").submit();
                                    }
                                });

                            </text>

                        }
                        else
                        {
                            <text>

                                document.getElementById("frmPermitSummary").submit();

                            </text>
                        }

                    }
                });
                $("#back-btn").click(function (e) {
                    e.preventDefault();
                    window.location.href = '@backUrl';
                });

                $("#frmPermitSummary").submit(function (e) {
                    swal({
                        title: "กำลังไปยังหน้าถัดไป",
                        type: "success",
                        showConfirmButton: false
                    });
                    var self = this;
                    window.setTimeout(function () {
                        self.submit();
                    }, 1500);

                    return false; //is superfluous, but I put it here as a fallback
                });
                $(".form-info").unbind("click");
                $('.form-info').click(function (e) {
                    e.preventDefault();
                    var targetID = $(this).data("target");
                    $('#' + targetID).slideToggle();
                });

                $(".close").unbind("click");
                $('.close').click(function (e) {
                    e.preventDefault();
                    var targetID = $(this).data("target");
                    $('#' + targetID).slideUp();
                });

            });
    </script>
}

@if (packPermit)
{
    <script type="text/javascript">

        $('#appContainer').on('click', '.item-list.clickable', function (e) {

            let idx = $(this).find('ins').attr('data-index');
            let pnlName = $(this).find('input#SingleFormApps_' + idx + '__AppSysName').val();

            // DGA ทดสอบการขอแยกทีละใบ
            //if (pnlName === 'APP_CLINIC_BUSINESS') {
            //    $('.item-list.clickable', $('#appContainer')).each(function (i) {
            //        if ($(this).find('ins').attr('data-appsysname') === 'APP_CLINIC_OPERATION') {
            //            if ($(this).hasClass('active')) {
            //                $(this).removeClass('active');
            //            }
            //            else {
            //                $(this).addClass('active');
            //            }
            //        }
            //    });
            //    return;
            //} else if (pnlName === 'APP_CLINIC_OPERATION') {
            //    $('.item-list.clickable', $('#appContainer')).each(function (i) {
            //        if ($(this).find('ins').attr('data-appsysname') === 'APP_CLINIC_BUSINESS') {
            //            if ($(this).hasClass('active')) {
            //                $(this).removeClass('active');
            //            }
            //            else {
            //                $(this).addClass('active');
            //            }
            //        }
            //    });
            //    return;
            //}

            if (pnlName === 'APP_HOSPITAL_BUSINESS') {
                $('.item-list.clickable', $('#appContainer')).each(function (i) {
                    if ($(this).find('ins').attr('data-appsysname') === 'APP_HOSPITAL_OPERATION') {
                        if ($(this).hasClass('active')) {
                            $(this).removeClass('active');
                        }
                        else {
                            $(this).addClass('active');
                        }
                    }
                });
                return;
            } else if (pnlName === 'APP_HOSPITAL_OPERATION') {
                $('.item-list.clickable', $('#appContainer')).each(function (i) {
                    if ($(this).find('ins').attr('data-appsysname') === 'APP_HOSPITAL_BUSINESS') {
                        if ($(this).hasClass('active')) {
                            $(this).removeClass('active');
                        }
                        else {
                            $(this).addClass('active');
                        }
                    }
                });
                return;
            }

        });

    </script>
}

@*@if (spaAgeAllow.HasValue)
{
    if (!Convert.ToBoolean(spaAgeAllow))
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('.item-list.clickable', $('#appContainer')).each(function (i) {
                    if ($(this).find('ins').attr('data-appsysname') === "ขอใบอนุญาตประกอบกิจการสถานประกอบการเพื่อสุขภาพ") {
                        if ($(this).hasClass('active')) {
                            $(this).removeClass('active');
                        }
                        if ($(this).hasClass('clickable')) {
                            $(this).removeClass('clickable');
                        }
                        if ($(this).hasClass('checkbox')) {
                            $(this).removeClass('checkbox');
                        }
                    }

                    $('div.checkbox').remove();
                });

            });
        </script>
    }
}*@

@if (isSpa.HasValue)
{
    if (isSpa.Value)
    {

        if (spaAgeAllow.HasValue)
        {
            if (!spaAgeAllow.Value) 
            {
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('.item-list.clickable', $('#appContainer')).each(function (i) {
                            if ($(this).find('ins').attr('data-appsysname') === "ขอใบอนุญาตประกอบกิจการสถานประกอบการเพื่อสุขภาพ") {
                                if ($(this).hasClass('active')) {
                                    $(this).removeClass('active');
                                }
                                if ($(this).hasClass('clickable')) {
                                    $(this).removeClass('clickable');
                                }
                                if ($(this).hasClass('checkbox')) {
                                    $(this).removeClass('checkbox');
                                }
                            }

                            $('div.checkbox').remove();
                        });

                    });
                </script>
            }
        }

    }
}

